@mixin font-styles {
  font-family: 'Protest Riot', sans-serif;
  color: ivory;
}

body{
  background-color: #CB4646;
  @include font-styles;
  text-align: center;
  transition: all ease-in 0.5s;
}

.container{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  #pomodoro_icon {
    position: absolute;
    z-index: -1;
  }

  .inputs_container{
    position: relative;   
    display: flex;
    justify-content: center;
    .timer{
      @include font-styles;
      text-align: center;
      background-color: #d65656;
      border-radius: 3rem;
      border: solid 2px #902121;
    }
  }

  
}

.btns_container{
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .button{
    border-radius: 2rem; 
    background-color: #C15A5B;
    @include font-styles;
    border: 2mm double rgba(0, 0, 0, 0.253);
    box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  }
  .button:active{
    background-color: #902121;
  }

  .start{
    background-color: #F23329 !important;
  }
  .start:active{
    background-color:  #902121 !important;
  }

  .reset{
    background-color: #214d90 !important;
  }
  .reset:active{
    background-color: #142f58 !important;
  }
}
#shift{
  display: none;
  position: absolute;
  font-family: 'Protest Riot', sans-serif;;
  text-align: center;
  border-radius: 25px; 
  background-color: #902121;
  border: 2mm double rgba(0, 0, 0, 0.253);
}

//outside container because it's also used by audio control element
.disable{
  background-color: #144669; 
  pointer-events: none;
  opacity: 60%;
}

p {
  position: absolute;
  text-align: left;
  a{
    color: ivory;
  }
  a:hover{
    color: #D61D1D;
  }
}

#tickingButton{
  position: absolute;
  top: 200px;
  left: 70%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px; 
  background-color: #F23329;
  border: 2mm double rgba(0, 0, 0, 0.253);
  img{
    height: 65px;
    width: 65px;
  }
}



//sizes styles for desktop
@media only screen and (min-width:1000px){
  h1{
    margin-bottom: 6vh;
    font-size: 5rem;
  }
  
  .container{
    height: 55vh;
    width: 100%;
    #pomodoro_icon {
      top: -3vh;
      height: 55vh;
    }
    .inputs_container{
      top: 25vh;
      font-size: 7vh;
      .timer{
        height: 10vh; 
        width: 6vw; 
        min-width: 80px;
        font-size: 6vh;
      }
    }
  }
  .btns_container{
    width: 30vw;
    min-width: 375px;
    margin:auto;
    .button{
      height: 12vh; 
      width: 8vw; 
      min-width: 100px;
      border-radius: 2rem; 
      font-size: 4vh;
    }
  }
  #shift{
    display: none;
  }
  p {
    margin: 0 20px;
    top: 90vh;
    font-size: 20px;
  }
  #tickingButton{
    top: 200px;
    left: 70%;
    width: 80px;
    height: 80px;
    img{
      height: 65px;
      width: 65px;
    }
  }
}


//sizes styles for mobile/tablet
@media only screen and (max-width: 1368px){
  h1{
    margin-bottom: 6vh;
    font-size: 2em;
  }
  
  .container{
    height: 50vh;
    #pomodoro_icon {
      height: 45vh;
      max-width: 80vw;
    }
    .inputs_container{
      top: 20vh;
      font-size: 7vh;
      .timer{
        height: 10vh; 
        width: 6vw; 
        min-width: 80px;
        font-size: 6vh;
      }
    }
  }
  .btns_container{
    width: 30vw;
    min-width: 375px;
    margin:auto;
    .button{
      height: 12vh; 
      width: 8vw; 
      min-width: 100px;
      border-radius: 2rem; 
      font-size: 4vh;
    }
  }
  p {
    margin: -10px 20px;
    top: 90vh;
    font-size: 18px;
  }
  #tickingButton{
    top: 20vh;
    left: 80%;
    width: 60px;
    height: 60px;
    img{
      height: 45px;
      width: 45px;
    }
  }
  #shift{
    display: initial !important;
    top: -45px;
    height: 40px;
    width: 60px;
  }
}

//styles for square-like devices on a portrait orientation
@media (orientation: portrait) and (min-height: 1000px), (orientation: portrait) and (min-width: 1000px){
  .container{
    .inputs_container{
      .timer{
        width: 14vw;
      }
    }
  }
  .btns_container{
    width: 65%;
    .button{
      width: 15vw;
      border-radius: 25%;
    }
  }
  #shift{
    min-height: 20px;
    min-width: 40px;
  }
}