body{
  background-color: #BA4949;
}
.container{
  width: 100%;
  height: 85vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1{
    height: 10vh;
    font-size: 5rem; //DA CAMBIARE IN @MEDIA
    font-family: 'Protest Riot', sans-serif;
    color: ivory;
  }
  #pomodoro_icon {
    position: absolute;
    z-index: -1;
    height: 55vh;
    top: 15vh;
  }
  .inputs_container{
    display: flex;
    justify-content: center;
    position: relative;
    top: 20vh;
    color: ivory;    
    text-align: center;
    font-size: 6vh;
    font-family: 'Protest Riot', sans-serif;  
    .timer{
      height: 10vh; //DA CAMBIARE IN @MEDIA
      width: 6vw; //DA CAMBIARE IN @MEDIA
      min-width: 80px;
      text-align: center;
      font-size: 6vh;
      font-family: 'Protest Riot', sans-serif;
      color: ivory;
      background-color: #d65656;
      border-radius: 15px;
    }
  }
  .btns_container{
    margin-top: 12vh; //DA CAMBIARE IN @MEDIA
    width: 30vw; //DA CAMBIARE IN @MEDIA
    position: relative;
    top: 20vh;
      display: flex;
      justify-content: space-around;
      .button{
        height: 12vh; //DA CAMBIARE IN @MEDIA
        width: 8vw; //DA CAMBIARE IN @MEDIA
        min-width: 100px;
        border-radius: 25px; //DA CAMBIARE IN @MEDIA
        background-color: #C15A5B;
        font-size: 5vh;
        font-family: 'Protest Riot', sans-serif;
        color: ivory;
      }
      #startReset_btn{
        background-color: #F23329;
      }
    }
}

p {
  color: ivory;
  font-family: "Protest Riot", sans-serif;
  font-size: 3vh;
  margin: 0px 20px;
  a{
    color: ivory;
  }
  a:hover{
    color: #D61D1D;
  }
}

.disable{
  background-color: #144669 !important; 
  pointer-events: none;
  opacity: 60%;
}

.reset{
  background-color: #D61D1D !important;
}

body{
  transition: all ease-in 0.5s;
}

@media only screen and (max-width:992px) {
  .container{
    h1{
      font-size: 8vh;
    }
    #pomodoro_icon{
      max-width: 75vw;
    }
    .inputs_container{
      .timer{
        min-width: 20vw;
      }
    }
    .btns_container{
      .button{
        min-width: 120px;
        margin-right: 2vw;
      }
      #startReset_btn{
        font-size: 4vh;
      }
    }
  }
  p{
    font-size: 15px;
  }
}
